<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./css/dist/hamburgers.css")
        title The Loop
    body
        .wrapper
            include include/slider.pug
            include include/freeblock.pug
            include include/clothes.pug
            include include/model.pug
            include include/footer.pug
 

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="./js/main.js")