section.clothesBlock
    .clothesBlock__wrapp.container
        .clothesBlock__male
            .clothesBlock__male-items
                h2.clothesBlock__maleItemh Мужская
                    span коллекция
                p.clothesBlock__maleItemp Обувь, полуверы, костюмы
                button.clothesBlock__malebtn
                    img(src="./img/arrow.svg", alt="")
            .clothesBlock__male-image
                img(src="./img/male.png", alt="")
        .clothesBlock__woomen
            .clothesBlock__woomen
                .clothesBlock__woomen-items
                    h2.clothesBlock__woomenItemh Женская
                        span коллекция
                    p.clothesBlock__woomenItemp Обувь, полуверы, костюмы
                    button.clothesBlock__woomenbtn
                        img(src="./img/arrow.svg", alt="")
                .clothesBlock__woomen-image
                    img(src="./img/woomen.png", alt="")
section.clothesGrid.container
    .clothesGrid__cards
        img(src="./img/1.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/2.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/1.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/2.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/2.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/1.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/2.png", alt="")
        h2 Платья
    .clothesGrid__cards
        img(src="./img/1.png", alt="")
        h2 Платья