section.footer
    .footer__theloop
        .logo__footer
            a(href="#")
                img(src="./img/logo.svg", alt="")
                span the loop
            .footer__lorem
                p Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.<br> Nulla faucibus egestas elit, at<br> eleifend elit ornare ut.
        .footer__links
            h3 Основные ссылки
            a(href="#") О компании
            a(href="#") Каталог
            a(href="#") Доставка
            a(href="#") Оплата
        .footer__links
            h3 Категории 
            a(href="#") Мужская одежда
            a(href="#") Женская одежда
            a(href="#") Детская одежда
            a(href="#") Для животных
        .footer__links
            h3 ПОЛЕЗНЫЕ ССЫЛКИ
            a(href="#") Таблица размеров
            a(href="#") Блог о моде
            a(href="#") Наша миссия
        .footer__links
            h3 СОЦ СЕТИ
            .vk
                img(src="./img/VK.svg", alt="")
                a(href="#") VK.com
            .facebook
                img(src="./img/Facebook.svg", alt="")
                a(href="#") Facebook
            .insta
                img(src="./img/instagram.svg", alt="")
                a(href="#") Instagram

section.Copyright
        h4 Copyright © 2019. Все права защищены
        h5 Политика приватности

