.model.container
    h1.model__new НОВЫЕ МОДЕЛИ
    .model__cardsBlock
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
.modelbtn
    button ВСЕ МОДЕЛИ
        img(src="./img/arrow.svg", alt="")

section.discounts
    h2.discounts__present ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
    .discounts__email
        input(type="email" placeholder="Ваш e-mail")
        button ПОДПИСАТЬСЯ 
section.model.container
    h1.model__new СКИДКИ ДО 90%
    .model__cardsBlock
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
        .model__cards
            span
            span
            span
            span
            .model__item
                img(src="./img/model.png", alt="")
                h3 Коктейльное <br> платье
                h2 ₽ 40 000
            span
            span
            span
            span
.modelbtn
    button ВСЕ МОДЕЛИ
        img(src="./img/arrow.svg", alt="")