.slider
    header.header.container
        .header__links
            a.header__link(href="#") Для мужчин
            a.header__link(href="#") Для женщин
            a.header__link(href="#") Для детей
        .header__logo
            a(href="#")
                img(src="./img/logo.svg", alt="")
                span the loop
        .header__links
            a.header__link(href="#") Оплата
            a.header__link(href="#") Доставка
            .header__shopping
                i.fas.fa-shopping-basket
                .shopping__shopInfo
                    span 5
        .header__bar-menu
            button.hamburger.hamburger--collapse(type="button")
                span.hamburger-box
                    span.hamburger-inner
            .header__drop-menu
                li: a.header__linkdrop(href="#") Для мужчин
                li: a.header__linkdrop(href="#") Для женщин
                li: a.header__linkdrop(href="#") Для детей
                li: a.header__linkdrop(href="#") Оплата
                li: a.header__linkdrop(href="#") Доставка
    .slider-block
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .sale-block.container
                        .sale-block__item
                            h1 Зимняя распродажа
                            h2 Скидки до 90%
                            .sale-block__btns
                                a.sale-block__btn(href="#") Смотреть модель
                        .sale-block__image
                            img(src="./img/shoes.png", alt="")
                            .sale-block__image-item
                                h3 9 900 ₽
                                h4 1 900 ₽
                .swiper-slide
                    .sale-block.container
                        .sale-block__item
                            h1 Зимняя распродажа
                            h2 Скидки до 90%
                            .sale-block__btns
                                a.sale-block__btn(href="#") Смотреть модель
                        .sale-block__image
                            img(src="./img/shoes.png", alt="")
                            .sale-block__image-item
                                h3 9 900 ₽
                                h4 1 900 ₽
                .swiper-slide
                    .sale-block.container
                        .sale-block__item
                            h1 Зимняя распродажа
                            h2 Скидки до 90%
                            .sale-block__btns
                                a.sale-block__btn(href="#") Смотреть модель
                        .sale-block__image
                            img(src="./img/shoes.png", alt="")
                            .sale-block__image-item
                                h3 9 900 ₽
                                h4 1 900 ₽
                .swiper-slide
                    .sale-block.container
                        .sale-block__item
                            h1 Зимняя распродажа
                            h2 Скидки до 90%
                            .sale-block__btns
                                a.sale-block__btn(href="#") Смотреть модель
                        .sale-block__image
                            img(src="./img/shoes.png", alt="")
                            .sale-block__image-item
                                h3 9 900 ₽
                                h4 1 900 ₽
        .paggination-block
            .swiper-pagination